<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAVb8ktcqU_Ld1Rwx65LtqsLEJF7kzrmEs</string>
	<key>GCM_SENDER_ID</key>
	<string>539779170742</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.pground</string>
	<key>PROJECT_ID</key>
	<string>pground-34b5a</string>
	<key>STORAGE_BUCKET</key>
	<string>pground-34b5a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:539779170742:ios:f280aa421088b02bfec117</string>
</dict>
</plist>